<html>
  <body>
    <h1>Add User</h1>
    <form method="POST" action="/">
        <input type="text" name="username">
        <input type="submit" value="Add">
    </form>

    <h1>User</h1>
    {% for user in users %}
      <p>{{user.title}}</p>
      <form method="POST" action="./update">
        <input type="hidden" value="{{user.username}}" name="oldtitle">
        <input type="text" value="{{user.username}}" name="newtitle">
        <input type="submit" value="Update">
      </form>
      <form method="POST" action="./delete">
        <input type="hidden" value="{{user.username}}" name="username">
        <input type="submit" value="Delete">
      </form>
    {% endfor %}

  </body>
</html>